/* 
	MOBILE VERSION
	==============================
	quick select... zone
	not for all screen resolutions
*/

.home-mob-screen-4,
.home-mob-screen-5,
.home-mob-screen-6,
.home-mob-screen-7 {
	background-color: #000648;
	color: #fefefe;
}

.home-mob-screen-4 {
	padding: 50px 20px 10px 20px;
	height: 650px;
	overflow: hidden;
}

.hms-4-title {
	min-height: 138px;
	font-size: 42px;
	line-height: 46px;
	font-family: ObjectSansBold;
	letter-spacing: -0.25px;
	text-align: center;
	margin-bottom: 30px;
}

.hms-4-cafes {
	min-height: 410px;
	font-family: ObjectSansBold;
	font-size: 12px;
	height: 420px;
}

.hms-4-cafes .qws-food-item-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.hms-4-cafes .qws-food-item {
	width: 162px;
	height: 199px;
	margin: 0 11px 11px 0;
}

.hms-4-cafes .qws-food-item-line {
	white-space: nowrap;
	text-align: center;
}

/*screen 5 - repaeting screen 4 with features*/
.home-mob-screen-5 .qws-food-item {
	opacity: 0.5;
}

.home-mob-screen-5 .qws-food-item-selected {
	opacity: 1;
}

/*screen 6*/
.home-mob-screen-6 {
	padding: 95px 20px;
	box-sizing: border-box;
}

.hms-6-food {
	min-height: 366px;
	padding: 70px 30px;
	box-sizing: border-box;
	width: 100%;
}

.hms-6-alyssa,
.hms-6-niami {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
}

.hms-6-alyssa div,
.hms-6-niami div {
	margin: 0 5px;
}

.hms-6-logo-image {
	border-radius: 50%;
	width: 74px;
	height: 74px;
	background-position: center;
	background-repeat: no-repeat;
}

.hms-6-baloon {
	position: relative;
	border-radius: 20px;
	padding: 10px;
	box-sizing: border-box;
	background: #2020df;
}

.hms-6-alyssa .hms-6-baloon {
	top: 12px;
}
.hms-6-niami .hms-6-baloon {
	top: 4px;
}

.hms-6-baloon div {
	z-index: 1;
	position: relative;
	width: 200px;
	font-size: 18px;
	font-family: PoppinsBold;
}

.hms-6-baloon::before {
	content: '';
	border-bottom: 20px solid #2020df;
	border-right: 20px solid #2020df;
	border-left: 20px solid rgba(0,0,0,0);
	border-top: 20px solid rgba(0,0,0,0);
	transform: rotate(180deg);
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 0;
}

.hms-6-alyssa .hms-6-baloon::before {
	content: '';
	top: 15px;
}

.hms-6-niami .hms-6-baloon::before {
	content: '';
	transform: rotate(-90deg);
	left: auto;
	right: 0;
	top: 42px;
}

.hms-6-food-image {
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	width: 100%;
	border-radius: 20px;
	height: 302px;
	padding: 15px;
	box-sizing: border-box;
	font-family: ObjectSansBold;
	font-size: 18px;
}

.mobile .hms-6-food-image {
	background-size: cover;
}

.hms-6-food-image img {
	width: 40px;
}
.hms-6-food-image span {
	position: relative;
	left: 13px;
	top: -13px;
}

/*Screen 7*/
.home-mob-screen-7 {
	min-height: 600px;
	text-align: center;
	padding: 100px 20px 0px 20px;
}

.hms-7-title {
	font-family: ObjectSansBold;
	font-size: 42px;
	min-height: 92px;
	margin-bottom: 30px;
}

.hms-7-slider {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
}

.hms-7-slider-top {
	margin-bottom: 40px;
	text-align: center;
}

.hms-7-slider-top-bullet {
	width: 15px;
	height: 15px;
	margin: 0 15px;
	background-color: #2020df;
	display: inline-block;
	border-radius: 50%;
}

.hms-7-slider-top-bullet.selected {
	background-color: #fefefe;
}

.hms-7-slider-revi {
	font-size: 20px;
	font-family: PoppinsRegular;
	margin-bottom: 15px;
}

.hms-7-slider-wrap {
	width: 390px;
	box-sizing: border-box;
	overflow: hidden;
}

.hms-7-slider-wrap-slide {
	white-space: nowrap;
	position: relative;
	transition: .2s all ease-in;
	z-index: 10;
}

.hms-7-slider-image {
	position: relative;
	width: 225px;
	margin: 0 90px;
	border-radius: 10px;
}