.for-business-page-openForBusiness {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: #eaeaea;
	padding-top: 150px;
}

.for-business-page-openForBusiness-header {
	padding: 100px 0 27px 0;
	width: 765px;
	min-height: 58px;
	text-align: center;
}

.for-business-page-openForBusiness-comment {
	font-size: 18px;
	font-family: PoppinsMedium;
	width: 625px;
	min-height: 50px;
	text-align: center;
	padding-bottom: 50px;
	color: #ff4f21;
}

.for-business-page-openForBusiness-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	box-sizing: border-box;
	padding: 0 20px;

	min-width: 394px;
	height: 190px;
	border-radius: 10px;
	/*box-shadow: 0 0 10px #777;*/
	background-color: #f5f5f5;

	color: #ff4f21;
	text-align: center;
}

.for-business-page-openForBusiness-card-header {
	font-size: 90px;
	font-family: ObjectSansBold;
	text-align: center;
}

.for-business-page-openForBusiness-card-comment {
	font-size: 16px;
	font-family: PoppinsRegular;
	text-align: center;
}

.for-business-page-openForBusiness-card-comment-bolder {
	font-family: PoppinsBold;
}

.for-business-page-openForBusiness-buttons {
	text-align: center;
	padding-bottom: 81px;
}

/*MOBILE*/
.mobile .for-business-page-openForBusiness {
	padding-top: 0;
}

.mobile .for-business-page-openForBusiness-header {
	padding: 50px 0 30px 0;
}

.mobile .for-business-page-openForBusiness-comment {
	width: 350px;
	min-height: 92px;
	padding-bottom: 30px;
	font-size: 16px;
}

.mobile .for-business-page-openForBusiness-card {
	height: 214px;
	min-width: 290px;
	box-sizing: border-box;
}

.mobile .for-business-page-openForBusiness-card-header {
	font-size: 60px;
}
.mobile .for-business-page-openForBusiness-card-comment {
	white-space: normal;
	font-size: 16px;
}