.for-business-page-allowCustomers {
	min-height: 600px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-bottom: 150px;
	box-sizing: border-box;
	padding-top: 240px;
}

.fbpac-info {
	width: 644px;
	min-height: 550px;
	box-sizing: border-box;
	padding: 134px 0 0 44px;
}

.fbpac-header {
	width: 515px;
	text-align: left !important;
	margin-bottom: 42px;
}

.fbpac-comment {
	width: 454px;
}

.fbpac-cards-wrap {
	width: 722px;
	min-height: 550px;
	box-sizing: border-box;
	position: relative;
}

.fbpac-card {
	border-radius: 10px;
	box-shadow: 1px 1px 5px #777;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: .3s all;
}

.fbpac-card1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/**/
	position: absolute;
	z-index: 12;
	width: 420px;
	height: 550px;
	left: 0;
	top: 0;
}

.fbpac-card1-jill-label {
	position: relative;
	z-index: 5;
	box-sizing: border-box;
	padding: 25px 20px 25px 83px;
	font-family: ObjectSansBold;
	font-size: 23px;
	line-height: 20px;
	background-color: #2020df;
	border-radius: 10px;
	color: #fefefe;
	background-repeat: no-repeat;
	background-position: 20px 15px;
	background-size: 40px 40px;
}

.fbpac-card1-jill {
	position: relative;
	width: 390px;
	height: 70px;
	border-radius: 10px;
}

.fbpac-card1-jill::before,
.fbpac-card1-jill::after {
	--padd: 15px;
	content: '';
	position: absolute;
	left: var(--padd);
	width: calc(100% - 2 * var(--padd));
	height: 100%;
	top: var(--padd);
	z-index: 4;
	background-color: #000b62;
	border-radius: 10px;
}

.fbpac-card1-jill::after {
	--padd: 30px;
	left: var(--padd);
	width: calc(100% - 2 * var(--padd));
	top: var(--padd);
	z-index: 3;
	background-color: #000648;
}

.fbpac-card2 {
	position: absolute;
	z-index: 11;
	width: 298px;
	height: 364px;
	top: 93px;
	left: 160px;
}

.fbpac-card3 {
	position: absolute;
	z-index: 10;
	width: 121px;
	height: 248px;
	top: 151px;
	left: 370px;
}

.active .fbpac-card2 {
	left: 322px;
	transition: .5s .6s all;
}
.active .fbpac-card3 {
	left: 600px;
	transition: .5s .6s all;
}

/*MOBILE*/
.mobile .for-business-page-allowCustomers {
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 50px;
	padding-top: 0;
}

.mobile .fbpac-info {
	width: 350px;
	padding: 0;
	min-height: auto;
	padding-bottom: 30px;
}

.mobile .fbpac-header {
	text-align: center !important;
}

.mobile .fbpac-comment {
	width: 350px;
}

.mobile .fbpac-cards-wrap {
	width: 350px;
}

.mobile .fbpac-card1 {
	width: 348px;
	height: 456px;
}

.mobile .fbpac-card1-jill-label {
	font-size: 19px;
	width: 323px;
	padding: 20px 10px 20px 70px;
	background-size: 32px 32px;
	background-position: 17px 14px;
}
.mobile .fbpac-card1-jill  {
	width: 323px;
}

.fbpac-card1-jill::before {
	top: 5px;
}
.fbpac-card1-jill::after {
	top: 15px;
}

.mobile .fbpac-card2 {
	width: 238px;
	height: 291px;
	top: 70px;
	left: 130px;
}
.mobile .fbpac-card3 {
	width: 96px;
	height: 198px;
	top: 135px;
	left: 290px;
}