.app-page-help {
	min-height: 800px;
	box-sizing: border-box;
	text-align: center;
}

.app-page-help-nonactive .app-page-help-cafe-column.double {
	opacity: 0;
}

.app-page-help .app-page-help-cafe-column.double {
}

.app-page-help-header {
	font-size: 18px;
	font-family: PoppinsSemibold;
	display: inline-block;
	text-align: center;
	max-width: 624px;
	min-height: 50px;
	padding: 51px 0 58px 0;
	box-sizing: border-box;
}

.app-page-help-cafes {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app-page-help-cafe-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.app-page-help-cafe-column-item {
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	padding: 14px;
	box-sizing: border-box;
	border-radius: 10px;
	margin: 0 10px 20px 10px;
	width: 225px;
	height: 275px;
	text-align: left;
}

.double .app-page-help-cafe-column-item {
	width: 326px;
	height: 572px;
	background-size: cover;
}

.app-page-help-column-item-title {
	display: inline;
	font-size: 18px;
	font-family: ObjectSansBold;
	position: relative;
	left: 10px;
	top: -14px;
}


/*MOBILE VIEW*/
.mobile .app-page-help {
	overflow-x: hidden;
	min-height: 700px;
}

.mobile .app-page-help-header {
	font-size: 18px;
	max-width: 350px;
	min-height: 75px;
	padding: 75px 0 50px 0;
}

.mobile .app-page-help-cafe-column-item {
	padding: 10px;
	margin: 0 7px 16px 7px;
	width: 168px;
	height: 206px;
}

.mobile .double .app-page-help-cafe-column-item {
	width: 245px;
	height: 429px;
}

.mobile .app-page-help-column-item-location {
	width: 18px;
}

.mobile .app-page-help-column-item-title {
	font-size: 13.5px;
	left: 10px;
	top: -7px;
}